<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpfAppBBDD.Properties.Settings.BasedeDatos1ConnectionString"
            connectionString="Data Source=DESKTOP-0SC8P3Q;Initial Catalog=BasedeDatos1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>